.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.suggestion-list li {
    list-style: none;
    cursor: pointer;
    color: blue;
}

.suggestion-list ul {
    padding: 0px;
    margin-top: 6px;
}

.suggestion-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-bar input {
    width: 220px;
    height: 20px;
}

.loader {
    font-size: 12px;
    color: yellowgreen;
}